body {
	font-family: 'Lato', sans-serif;
	line-height: 23px;
	color: #1a1a1a;
	background-color: #fff;
	font-size: 1em;
	text-transform: uppercase;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}



/*grid*/
.b-page {
	border: solid 1px #e7e7e7;
	display: flex;
	flex-direction: column;
}

.b-page__header,
.b-page__footer {
	flex: 0 0 100%;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.b-page__body {
	display: flex;
	flex-direction: column;
}

.b-page__row {
	padding: 0;
	border: solid 1px #e7e7e7;
	display: flex;
	flex-direction: column;

}

.b-page__item {
	padding: 0;
	border: solid 1px #e7e7e7;
	flex: 1;
}

@media all and ( min-width: 768px ) {

  .b-page__row {
    flex-direction: row;
  }

}

/*-----content-----*/

/*logo*/
.b-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1a1a1a;
}

.b-logo {
	display: flex;
	flex-direction: column;
	align-content: baseline;
	text-align: center;
}

.b-logo__item {
	padding: 20px;
}

.b-logo__item--top {
	color: #FEDE00;
	font-weight: bold;
	font-size: 70px;
}

.b-logo__item--bottom {
	color: #fff;
	font-weight: 300;
	font-size: 55px;
}


/*menu*/
.b-nav {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.b-nav__items {
	display: none;
	flex: 1;
	flex-direction: column;
  	text-align: center;
	font-size: 1.3em;
}

.b-nav__items--visible {
	display: flex;
}

.b-nav__item:hover {
	background-color: #FEDE00;
}

.b-nav__item--style-1 {
	background-color: #fff;
}

.b-nav__item--style-2 {
	background-color: #e7e7e7;
}

.b-nav__item:last-child {
	border-bottom: 0;
}

.b-nav__link {
	padding: 8px;
	display: block;
}

.b-nav__toggle {
	margin: 0 0 4px 0;
	padding: 4px;
	color: #fff;
	background-color: #inherit;
	border: 0;
}

.b-nav__toggle:hover,
.b-nav__toggle:focus {
	outline: none;
	background-color: #FEDE00;
}

@media all and ( min-width: 768px ) {
	.b-nav {
		flex-direction: row;
	}

	.b-nav__items {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		height: 175px;
	}

	.b-nav__item {
		flex: 1;
		border: 0;
	}

	.b-nav__link {
		padding: 0;
		line-height: 175px;
	}

	.b-nav__toggle {
		display: none;
	}

}
