body {
	font-family: 'Lato', sans-serif;
  line-height: 23px;
  color: #1a1a1a;
  background-color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
}



a {
  text-decoration: none;
  color: inherit;
}

.b-page {
  width: 1170px;
  margin: 0 auto;
}

.b-page_line__top {
	padding-top: 60px;
}

.b-section {
	float: left;
	width: 50%;
}

/*background*/
.page-bg {
  position: absolute;
  z-index: -5;
  width: 100%;
}

/*header*/
.b-header {

}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

/*logo*/
.b-header_logo {
	float: left;
	background: #1A1A1A;

}

.b-logo {
	width: 320px;
	text-align: center;
	height: 175px;

}

.b-logo_top {
	font-size: 70px;
  color: #FEDE00;
  font-weight: bold;
	padding-top: 40px;
	margin: 0 auto;
}

.b-logo_bottom {
  color: #fff;
  font-weight: 300;
	font-size: 55px;
	padding-top: 40px;
	margin: 0 auto;
}

/*menu*/
.b-header_menu {
	float: left;
	background-color: #ffffff;
}

.b-menu {
	width: 100%;
	height: 175px;
	text-align: center;
	display: table;
}

.b-link {
	font-weight: 600;
	font-size: 20px;
}

.b-link__menu {
	width: 170px;
	margin-right: 0;
	display: table-cell;
	padding-top: 75px;
}

.b-link__menu:hover,
.b-link__menu__active {
	background-color: #FEDE00;
}

.bgstyle-2 {
	background-color: #ECECEC;
}

/*slider*/
.b-slider {
    height:500px;
    overflow:hidden;
    position:relative;

}
.b-image {
    list-style:none;
    position:relative;
		padding: 0;
		margin: 0;
}

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    8% {
        opacity:1;
    }
    27% {
        opacity:1;
    }
    52% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    8% {
        opacity:1;
    }
    27% {
        opacity:1;
    }
    52% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.b-image_item {
    opacity:0;
    position:absolute;
    top:0;

    /* анимация css3 */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 18.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 18.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* Задержки css3 */
.b-image_item:nth-child(1) {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.b-image_item:nth-child(2) {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}

.img {
    display:block;
}
